      /*Style NAVBAR */
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


      :root {
         --color-branco: #ffffff;
         --color-verde: #b0d91e;
         --color-cinza: #343434;
         --color-preto: #151515;
      }

      * {
         margin: 0;
         padding: 0;
      }

      body {
         font-family: 'Open Sans', sans-serif;
         color: var(--color-preto);
         background-color: #151515;
         color: #ffffff;
      }

      .img_logo_header {
         width: 200px;
         margin-top: 8px;
      }

      .header,
      .navigation_header {
         display: flex;
         flex-direction: row;
         align-items: center;

      }

      .header {
         background-color: #151515;

         height: 5em;
         justify-content: space-between;
         padding: 0 9%;


      }

      .navigation_header {
         gap: 2em;
         z-index: 2;
      }

      .navigation_header a {
         text-decoration: none;
         color: #b0d91e;
         transition: 0.7s;
         font-weight: bold;
      }

      .navigation_header a:hover {
         color: #ffffff;
      }

      .active {
         background-color: #343434;
         padding: 10px;
         border-radius: 10px;
      }

      .content {
         text-align: center;
         padding-top: 3em;
         height: 100vh;
         transition: 1s;
      }

      .btn_icon_header {

         background-color: transparent;
         border: none;
         color: #ffffff;
         cursor: pointer;
         display: none;
      }

      @media screen and (max-width: 768px) {

         .navigation_header {
            position: absolute;
            flex-direction: column !important;
            top: 0;
            background-color: rgb(20, 20, 20);
            height: 100%;
            width: 35vw;
            padding: 16px;
            animation-duration: 1s;
            margin-left: -100vw;

         }

         .btn_icon_header {
            display: block;
         }
      }

      @keyframes showSidebar {
         from {
            margin-left: -100vw;
         }

         to {
            margin-left: -10vw;
         }
      }

      .content .titulo h1 {
         font-weight: 900;
         padding: 15px;
         font-size: 50px;
      }
     